body {
    margin: 0;
}
.main {
    font-family: 'Tahoma', 'open sans', sans-serif; 
}
.main1 {
    font-family: 'Tahoma', 'open sans', sans-serif; 
}
.sup {
    font-family: 'Tahoma', 'open sans', sans-serif; 
}
.sup1 {
    font-family: 'Tahoma', 'open sans', sans-serif; 
}
.main2 {
    font-family: 'Tahoma', 'open sans', sans-serif; 
}
.main3 h1 {
    font-family: 'Mudir MT', 'open sans', sans-serif; 
}
.main3 h2 {
    font-family: 'DecoType Naskh', 'open sans', sans-serif; 
}
.main4 {
    font-family: 'Akhbar MT', 'open sans', sans-serif; 
}
.footer {
    font-family: 'Tahoma', 'open sans', sans-serif; 
}
.header {
    background-color: #006d12;
    overflow: auto;
}
.menu {
    background-color: #00580f;
    overflow: auto;
}
.main  {background-color: #f5f5f5;
    overflow: auto; }
    .main1  {background-color: #f5f5f5;
        overflow: auto; }
        .main2  {background-color: #f5f5f5;
            overflow: auto; }
            .main3  {background-color: #f5f5f5;
                overflow: auto; }
                .main4  {background-color: #f5f5f5;
                    overflow: auto; }
                    .pho {
                        overflow: auto;
                        background-color: #F0EDE4; }
                        .pho1 {
                            overflow: auto;
                            background-color: #F0EDE4; }
                            .pho2 {
                                overflow: auto;
                                background-color: #F0EDE4; }  
                                .pho3 {
                                    overflow: auto;
                                    background-color: #F0EDE4; }
                                    .pho4 {
                                        overflow: auto;
                                        background-color: #F0EDE4; }
                                        .pho5 {
                                            overflow: auto;
                                            background-color: #F0EDE4; }
                                            .footer {
                                                background-color: rgb(10, 10, 10);
                                                overflow: auto;}      
                                                .main  {
                                                    overflow: auto;
                                                    text-align: center;
                                                    background-color: #f5f5f5;
                                                    padding-top: 20px;
                                                    padding-bottom: 20px;
                                                }
                                                .main1  {
                                                    overflow: auto;
                                                    text-align: center;
                                                    background-color: #f5f5f5;
                                                    padding-top: 20px;
                                                    padding-bottom: 20px;
                                                }
                                                .main2  {
                                                    overflow: auto;
                                                    text-align: center;
                                                    background-color: #f5f5f5;
                                                    padding-top: 20px;
                                                    padding-bottom: 20px;
                                                }
                                                .main3  {
                                                    overflow: auto;
                                                    text-align: center;
                                                    background-color: #f5f5f5;
                                                    padding-top: 20px;
                                                    padding-bottom: 20px;
                                                }
                                                .main4  {
                                                    overflow: auto;
                                                    text-align: center;
                                                    background-color: #f5f5f5;
                                                    padding-top: 20px;
                                                    padding-bottom: 20px;
                                                }
                                                .sup {
                                                    overflow: auto;
                                                    text-align: center;
                                                    background-color: #f5f5f5;
                                                    padding-top: 20px;
                                                    padding-bottom: 20px;
                                                }
                                                .sup1 {
                                                    overflow: auto;
                                                    text-align: center;
                                                    background-color: #f5f5f5;
                                                    padding-top: 20px;
                                                    padding-bottom: 20px;
                                                }
                                                .pho {
                                                    overflow: auto;
                                                    padding-top: 20px;
                                                    padding-bottom: 40px;
                                                    text-align: center;
                                                    background-color: #F0EDE4;
                                                }
                                                .pho1 {
                                                    overflow: auto;
                                                    padding-top: 20px;
                                                    padding-bottom: 40px;
                                                    text-align: center;
                                                    background-color: #F0EDE4;
                                                }
                                                .pho2 {
                                                    overflow: auto;
                                                    padding-top: 20px;
                                                    padding-bottom: 40px;
                                                    text-align: center;
                                                    background-color: #F0EDE4;
                                                }
                                                .pho3 {
                                                    overflow: auto;
                                                    padding-top: 20px;
                                                    padding-bottom: 40px;
                                                    text-align: center;
                                                    background-color: #F0EDE4;
                                                }
                                                .pho4 {
                                                    overflow: auto;
                                                    padding-top: 20px;
                                                    padding-bottom: 40px;
                                                    text-align: center;
                                                    background-color: #F0EDE4;
                                                }
                                                .pho5 {
                                                    overflow: auto;
                                                    padding-top: 20px;
                                                    padding-bottom: 40px;
                                                    text-align: center;
                                                    background-color: #F0EDE4;
                                                }
                                                .footer {
                                                    overflow: auto;
                                                    padding-top: 20px;
                                                    padding-bottom: 20px;
                                                    text-align: center;
                                                    background-color: rgb(10, 10, 10);
                                                }
                                                .pho img {
                                                    border-style: solid;
                                                    border-width: 2px;
                                                    border-color: black;
                                                    border-radius: 6px;
                                                    margin: 2px;
                                                    object-fit: cover;
                                                    object-position: top;
                                                }
                                                .pho1 img {
                                                    border-style: solid;
                                                    border-width: 2px;
                                                    border-color: black;
                                                    border-radius: 6px;
                                                    margin: 2px;
                                                    object-fit: cover;
                                                    object-position: top;
                                                }
                                                .pho2 img {
                                                    border-style: solid;
                                                    border-width: 2px;
                                                    border-color: black;
                                                    border-radius: 6px;
                                                    margin: 2px;
                                                    object-fit: cover;
                                                    object-position: top;
                                                }
                                                .pho3 img {
                                                    border-style: solid;
                                                    border-width: 2px;
                                                    border-color: black;
                                                    border-radius: 6px;
                                                    margin: 2px;
                                                    
                                                }
                                                .pho4 img {
                                                    border-style: solid;
                                                    border-width: 2px;
                                                    border-color: black;
                                                    border-radius: 6px;
                                                    margin: 2px;
                                                    object-fit: cover;
                                                    object-position: top;
                                                }
                                                .pho5 img {
                                                    border-style: solid;
                                                    border-width: 2px;
                                                    border-color: black;
                                                    border-radius: 6px;
                                                    margin: 2px;

                                                }
                                                .header  {
                                                    overflow: auto;
                                                    padding-top: 10px;
                                                    padding-bottom: 10px;
                                                    padding-right: 10px;
                                                    background-color: #006d12;
                                                    text-align: center;
                                                }
                                                .menu ul {
                                                    text-align: center;
                                                    padding-top: 20px;
                                                    padding-bottom: 20px;
                                                    text-decoration: none;
                                                }
                                                .menu li {
                                                    display: inline-block;
                                                    text-align: center;
                                                }
                                                .menu li a {
                                                    display: inline-block;
                                                    height: auto;
                                                    width: 180px;
                                                    color: rgb(255, 255, 255);
                                                    padding: 10px;
                                                    margin: 4px;
                                                    text-align: center;
                                                    font-size: 24px;
                                                    font-weight: bold;
                                                    text-decoration: none;
                                                    border-radius: 4px;
                                                }
                                                .menu li a:hover {
                                                    color: rgb(3, 27, 0);
                                                }
                                                .footer ul {
                                                    text-align: center;
                                                    padding-top: 10px;
                                                    padding-bottom: 10px;
                                                    text-decoration: none;
                                                }
                                                .footer li {
                                                    display: inline-block;
                                                    text-align: center;
                                                }
                                                .footer li a {
                                                    display: inline-block;
                                                    height: auto;
                                                    width: auto;
                                                    color: #b9b9b9;
                                                    padding: 10px;
                                                    margin: 6px;
                                                    text-align: center;
                                                    font-size: 24px;
                                                    text-decoration: none;
                                                }
                                                .footer li a:hover {
                                                    color: rgb(0, 36, 3);
                                                }
                                                .main h1 {
                                                    overflow: auto;
                                                    margin-top: 40px;
                                                    margin-left: auto;
                                                    margin-right: auto;
                                                    width: 200px;
                                                    padding: 10px;
                                                    background-color: #63855f;
                                                    color: #284933;
                                                    font-weight: bold;
                                                    text-align: center;
                                                    border-radius: 30px;
                                                }
                                                .main1 h1 {
                                                    overflow: auto;
                                                    margin-top: 40px;
                                                    margin-left: auto;
                                                    margin-right: auto;
                                                    width: 350px;
                                                    padding: 10px;
                                                    background-color: #63855f;
                                                    color: #284933;
                                                    font-weight: bold;
                                                    text-align: center;
                                                    border-radius: 30px;
                                                }
                                                .main2 h1 {
                                                    overflow: auto;
                                                    margin-top: 40px;
                                                    margin-left: auto;
                                                    margin-right: auto;
                                                    width: 350px;
                                                    padding: 10px;
                                                    background-color: #63855f;
                                                    color: #284933;
                                                    font-weight: bold;
                                                    text-align: center;
                                                    border-radius: 30px;
                                                }
                                                .main3 h1 {
                                                    overflow: auto;
                                                    margin-top: 40px;
                                                    margin-left: auto;
                                                    margin-right: auto;
                                                    width: 1650px;
                                                    padding: 10px;
                                                    background-color: #63855f;
                                                    color: #284933;
                                                    font-weight: bold;
                                                    text-align: center;
                                                    border-radius: 30px;
                                                }
                                                .main4 h1 {
                                                    overflow: auto;
                                                    margin-top: 40px;
                                                    margin-left: auto;
                                                    margin-right: auto;
                                                    width: 200px;
                                                    padding: 10px;
                                                    background-color: #63855f;
                                                    color: #284933;
                                                    font-weight: bold;
                                                    text-align: center;
                                                    border-radius: 30px;
                                                }
                                                .main1 h2 {
                                                    overflow: auto;
                                                    margin-top: 40px;
                                                    margin-left: auto;
                                                    margin-right: auto;
                                                    width: 550px;
                                                    padding: 10px;
                                                    background-color: #284933;
                                                    color: #63855f;
                                                    font-weight: bold;
                                                    text-align: center;
                                                    border-radius: 30px;
                                                }
                                                .sup h2 {
                                                    overflow: auto;
                                                    margin-top: 40px;
                                                    margin-left: auto;
                                                    margin-right: auto;
                                                    width: 550px;
                                                    padding: 10px;
                                                    background-color: #284933;
                                                    color: #63855f;
                                                    font-weight: bold;
                                                    text-align: center;
                                                    border-radius: 30px;
                                                }
                                                .sup1 h2 {
                                                    overflow: auto;
                                                    margin-top: 40px;
                                                    margin-left: auto;
                                                    margin-right: auto;
                                                    width: 550px;
                                                    padding: 10px;
                                                    background-color: #284933;
                                                    color: #63855f;
                                                    font-weight: bold;
                                                    text-align: center;
                                                    border-radius: 30px;
                                                }
                                                .main2 h2 {
                                                    overflow: auto;
                                                    margin-top: 40px;
                                                    margin-left: auto;
                                                    margin-right: auto;
                                                    width: 150px;
                                                    padding: 10px;
                                                    background-color: #284933;
                                                    color: #63855f;
                                                    font-weight: bold;
                                                    text-align: center;
                                                    border-radius: 30px;
                                                }
                                                .main p {
                                                    display: inline-block;
                                                    height: auto;
                                                    width: 600px;
                                                    color: #333333;
                                                    background-color: #f5f5f5;
                                                    padding: 10px;
                                                    margin: 4px;
                                                    text-align: center;
                                                    font-size: 18px;
                                                    font-weight: bold;
                                                    text-decoration: none;
                                                    border-radius: 4px;
                                                }
                                                .main1 p {
                                                    display: inline-block;
                                                    height: auto;
                                                    width: 600px;
                                                    color: #333333;
                                                    background-color: #f5f5f5;
                                                    padding: 10px;
                                                    margin: 4px;
                                                    text-align: center;
                                                    font-size: 18px;
                                                    font-weight: bold;
                                                    text-decoration: none;
                                                    border-radius: 4px;
                                                }
                                                .main2 p {
                                                    display: inline-block;
                                                    height: auto;
                                                    width: 600px;
                                                    color: #333333;
                                                    background-color: #f5f5f5;
                                                    padding: 10px;
                                                    margin: 4px;
                                                    text-align: center;
                                                    font-size: 18px;
                                                    font-weight: bold;
                                                    text-decoration: none;
                                                    border-radius: 4px;
                                                }
                                                .main3 h2 {
                                                    display: inline-block;
                                                    height: auto;
                                                    width: 600px;
                                                    color: #333333;
                                                    background-color: #f5f5f5;
                                                    padding: 10px;
                                                    margin: 4px;
                                                    text-align: center;
                                                    font-size: 30px;
                                                    font-weight: bold;
                                                    text-decoration: none;
                                                    border-radius: 4px;
                                                }
                                                
                                                .main4 p {
                                                    display: inline-block;
                                                    height: auto;
                                                    width: 600px;
                                                    color: #333333;
                                                    background-color: #f5f5f5;
                                                    padding: 10px;
                                                    margin: 4px;
                                                    text-align: center;
                                                    font-size: 18px;
                                                    font-weight: bold;
                                                    text-decoration: none;
                                                    border-radius: 4px;
                                                }
                                                .footer h1 {
                                                    overflow: auto;
                                                    margin-top: 40px;
                                                    margin-left: auto;
                                                    margin-right: auto;
                                                    width: 300px;
                                                    padding: 10px;
                                                    background-color: #ececec;
                                                    color: #000000;
                                                    font-weight: bold;
                                                    text-align: center;
                                                    border-radius: 30px;
                                                }
                                                .footer p {
                                                    overflow: auto;
                                                    margin-top: 40px;
                                                    margin-left: auto;
                                                    margin-right: auto;
                                                    width: 300px;
                                                    padding: 10px;
                                                    background-color: #ececec;
                                                    color: #000000;
                                                    font-weight: bold;
                                                    text-align: center;
                                                    border-radius: 30px;
                                                }
                                                .footer h2 {
                                                    overflow: auto;
                                                    margin-top: 40px;
                                                    margin-left: auto;
                                                    margin-right: auto;
                                                    width: 300px;
                                                    padding: 10px;
                                                    background-color: #ececec;
                                                    color: #000000;
                                                    font-weight: bold;
                                                    text-align: center;
                                                    border-radius: 30px;
                                                }
